KMADF1/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "KMADF1"
		},
		"filetrigger1_properties_salesdatapipiline_parameters_filename": {
			"type": "string",
			"defaultValue": "hourlysales"
		},
		"filetrigger1_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/e7eeffbb-a3a2-46ab-aaf5-b356c47bb033/resourceGroups/KMRG/providers/Microsoft.Storage/storageAccounts/kmstoracc1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SapTableResource2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SapTable1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SapTableResource",
				"schema": [],
				"typeProperties": {
					"tableName": "SKA1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapTableResource3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SapTable1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SapTableResource",
				"schema": [],
				"typeProperties": {
					"tableName": "SKA1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "kmoutput2",
								"type": "DatasetReference"
							},
							"name": "SKA1"
						},
						{
							"dataset": {
								"referenceName": "kmoutputfile2",
								"type": "DatasetReference"
							},
							"name": "SKAT"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sapglmaster",
								"type": "DatasetReference"
							},
							"name": "glmaster"
						}
					],
					"transformations": [
						{
							"name": "SKA1JOINSKAT"
						},
						{
							"name": "select1"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          MANDT as string,",
						"          KTOPL as string,",
						"          SAKNR as string,",
						"          XBILK as string,",
						"          SAKAN as string,",
						"          BILKT as string,",
						"          ERDAT as string,",
						"          ERNAM as string,",
						"          GVTYP as string,",
						"          KTOKS as string,",
						"          MUSTR as string,",
						"          VBUND as string,",
						"          XLOEV as string,",
						"          XSPEA as string,",
						"          XSPEB as string,",
						"          XSPEP as string,",
						"          MCOD1 as string,",
						"          FUNC_AREA as string",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> SKA1",
						"source(output(",
						"          MANDT as short,",
						"          SPRAS as boolean,",
						"          KTOPL as string,",
						"          SAKNR as string,",
						"          TXT20 as string,",
						"          TXT50 as string,",
						"          MCOD1 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> SKAT",
						"SKA1, SKAT join(SKA1@SAKNR == SKAT@SAKNR,",
						"     joinType:'inner',",
						"     broadcast: 'auto')~> SKA1JOINSKAT",
						"SKA1JOINSKAT select(mapColumn(",
						"          MANDT = SKA1@MANDT,",
						"          KTOPL = SKA1@KTOPL,",
						"          SAKNR = SKA1@SAKNR,",
						"          XBILK,",
						"          SAKAN,",
						"          BILKT,",
						"          ERDAT,",
						"          ERNAM,",
						"          GVTYP,",
						"          KTOKS,",
						"          MCOD1 = SKA1@MCOD1,",
						"          SPRAS,",
						"          TXT50,",
						"          MCOD1 = SKAT@MCOD1",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 filter(equals(KTOPL,'ACIA')) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Column_1 as string,",
						"          Column_2 as string,",
						"          Column_3 as string,",
						"          Column_4 as string,",
						"          Column_5 as string",
						"     ),",
						"     partitionFileNames:['sapglmaster.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> glmaster"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sapglparquet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "sapska1json",
								"type": "DatasetReference"
							},
							"name": "sapska1"
						},
						{
							"dataset": {
								"referenceName": "sapskatjson",
								"type": "DatasetReference"
							},
							"name": "sapskat"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sapska1parquet",
								"type": "DatasetReference"
							},
							"name": "sapska1parquet"
						},
						{
							"dataset": {
								"referenceName": "sapskatparquet1",
								"type": "DatasetReference"
							},
							"name": "sapskatparquet"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> sapska1",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> sapskat",
						"sapska1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['sapska1parquet'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sapska1parquet",
						"sapskat sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['sapskatparquet'],",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sapskatparquet"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sapgldata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sapgldata",
				"activities": [
					{
						"name": "dataflow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SKA1": {},
									"SKAT": {},
									"glmaster": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-08T07:03:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sapglmaster')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sapglmaster",
				"activities": [
					{
						"name": "copyska1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapTableResource2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "kmoutput2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copyskat",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copyska1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SapTableResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "kmoutputfile2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-08T06:35:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SapTableResource2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sapglmasterpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sapska1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"path": "$['MANDT']"
										}
									},
									{
										"source": {
											"name": "KTOPL",
											"type": "String"
										},
										"sink": {
											"path": "$['KTOPL']"
										}
									},
									{
										"source": {
											"name": "SAKNR",
											"type": "String"
										},
										"sink": {
											"path": "$['SAKNR']"
										}
									},
									{
										"source": {
											"name": "XBILK",
											"type": "String"
										},
										"sink": {
											"path": "$['XBILK']"
										}
									},
									{
										"source": {
											"name": "SAKAN",
											"type": "String"
										},
										"sink": {
											"path": "$['SAKAN']"
										}
									},
									{
										"source": {
											"name": "BILKT",
											"type": "String"
										},
										"sink": {
											"path": "$['BILKT']"
										}
									},
									{
										"source": {
											"name": "ERDAT",
											"type": "String"
										},
										"sink": {
											"path": "$['ERDAT']"
										}
									},
									{
										"source": {
											"name": "ERNAM",
											"type": "String"
										},
										"sink": {
											"path": "$['ERNAM']"
										}
									},
									{
										"source": {
											"name": "GVTYP",
											"type": "String"
										},
										"sink": {
											"path": "$['GVTYP']"
										}
									},
									{
										"source": {
											"name": "KTOKS",
											"type": "String"
										},
										"sink": {
											"path": "$['KTOKS']"
										}
									},
									{
										"source": {
											"name": "MUSTR",
											"type": "String"
										},
										"sink": {
											"path": "$['MUSTR']"
										}
									},
									{
										"source": {
											"name": "VBUND",
											"type": "String"
										},
										"sink": {
											"path": "$['VBUND']"
										}
									},
									{
										"source": {
											"name": "XLOEV",
											"type": "String"
										},
										"sink": {
											"path": "$['XLOEV']"
										}
									},
									{
										"source": {
											"name": "XSPEA",
											"type": "String"
										},
										"sink": {
											"path": "$['XSPEA']"
										}
									},
									{
										"source": {
											"name": "XSPEB",
											"type": "String"
										},
										"sink": {
											"path": "$['XSPEB']"
										}
									},
									{
										"source": {
											"name": "XSPEP",
											"type": "String"
										},
										"sink": {
											"path": "$['XSPEP']"
										}
									},
									{
										"source": {
											"name": "MCOD1",
											"type": "String"
										},
										"sink": {
											"path": "$['MCOD1']"
										}
									},
									{
										"source": {
											"name": "FUNC_AREA",
											"type": "String"
										},
										"sink": {
											"path": "$['FUNC_AREA']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SapTableResource3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sapska1json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sapskat",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sapska1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SapTableResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sapskatjson",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SapTableResource3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sapglmasterparquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sapvbakpipeline",
				"activities": [
					{
						"name": "sapglparquet",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "sapglparquet",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sapska1": {},
									"sapskat": {},
									"sapska1parquet": {},
									"sapskatparquet": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-05T15:50:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/sapglparquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/filetrigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "salesdatapipiline",
							"type": "PipelineReference"
						},
						"parameters": {
							"filename": "[parameters('filetrigger1_properties_salesdatapipiline_parameters_filename')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/km1cont1/blobs/input/hourlysales",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('filetrigger1_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		}
	]
}